* {
    margin: 0;
    padding: 0;
}


body {
    display: block;
    background-image: url(../img/Travel\ Time\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    margin: 73px 155px 179px 115px;
}

.header__nav_menu {
    margin: 73px 155px 101px 115px;
    display: flex;
}

.nav_menu__items {
    padding: 0px 128px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {

    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h1 {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.text {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;



}

.di {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 369px 489px 0px 490px;
}

.button {
    display: flex;
    width: 191px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #00B43D;
    background: #00B43D;
    color: #FFF;
    box-shadow: 0px 0px 0px 4px #FEE4E2, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}